link(rel='stylesheet' href='/css/common/account-handler.css')

div(ng-controller='AccountController')
	ul.button-group.header-buttons
		if base.username
			li.username 
				a(ng-click="selectUsername()") #{base.username}

			li(ng-show="userSelect")
				a() Profile
			li(ng-show="userSelect")
				a() Settings
			li(ng-click="logout()" ng-show="userSelect")
				a Logout
		else
			li
				a(data-reveal-id="signup-modal") Sign Up
			li
				a(data-reveal-id="login-modal") Login
			login-modal#login-modal.reveal-modal(data-reveal).tiny
			signup-modal#signup-modal.reveal-modal(data-reveal).tiny
		