block append head
	link(rel='stylesheet' href='/css/common/account-handler.css')

.account-handler(ng-controller='AccountController')
	ul.button-group.header-buttons
		if base.user
			li.username.module-box.right
				a(data-dropdown='user-dropdown' data-options='align:bottom') #{base.user.username}
			ul#user-dropdown.f-dropdown.module-box(data-dropdown-content)
				li
					a() Profile
				li
					a() Settings
				li(ng-click="logout()")
					a Logout
		else
			li.module-box.right
				a(data-reveal-id="signup-modal") Sign Up
			li.module-box.right
				a(data-reveal-id="login-modal") Login
			login-modal#login-modal.reveal-modal(data-reveal).tiny
			signup-modal#signup-modal.reveal-modal(data-reveal).tiny
		
