h2 Welcome to Qwillo!
br
form(novalidate name='form')

	.row.collapse()
		.small-12.columns
			.alert-box.alert.radius WARNING! This is the dev site of qwillo.com. It is not secured by SSL. Any data entered into this form will not be encrypted and can potentially be intercepted by a third-party. If you are testing this site, please use fake credentials. Any data you enter this site is at your own risk.
				a.close &times;

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix First Name
		.small-9.columns
			input(type='text', placeholder="What your mom calls you" ng-model='creds.firstName' required)

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix Last Name
		.small-9.columns
			input(type='text', placeholder="What your teachers call you" ng-model='creds.lastName' required)

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix Username
		.small-9.columns
			input(type='text', placeholder="What you what to be called" ng-model='creds.username' required)

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix Email
		.small-9.columns
			input(type='email', placeholder="For all the spam" ng-model='creds.email' required)

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix Password
		.small-9.columns
			input(type='password', placeholder="Hopefully not 'password'" ng-model='creds.password' required minlength='6' maxlength='26')

	.row.collapse.prefix-radius
		.small-3.columns
			span.prefix Confirm Password
		.small-9.columns
			input(type='password' placeholder="Please don't make it 'password'" ng-model='confirmPassword' required minlength='6' maxlength='26')
	.row.collapse(ng-show="didReceivedError")
		.small-12.columns
			.alert-box.alert.radius {{errorMessages}}
				a.close &times;
	.row.collapse
		.small-12.columns
			a.button(ng-click="submit()" ng-disabled="form.$invalid" ng-class="{disabledLink: form.$invalid}") Signup!
	a(class="close-reveal-modal") &#215;
a(data-reveal-id='login-modal') Login instead?