h2 Woohoo! Let's make a post
br
if base.username
	form(novalidate name='form' ng-controller='SubmitController')
		.row.collapse.prefix-radius
			.small-12
				h4 New post for #{topic.title}	

		.row.collapse.prefix-radius
			.small-3.columns
				span.prefix Title
			.small-9.columns
				input(type='text' placeholder="What do you want to call it?" ng-model='data.title' required minlength='2' maxlength='50')

		.row.collapse.prefix-radius
			.small-3.columns
				span.prefix Link/URL
			.small-9.columns
				input(type='url' placeholder="Where is it?" ng-model='data.link' required minlength='2' maxlength='50')

		.row.collapse.prefix-radius
			.small-12.columns
				label Description
					textarea(type='text' placeholder="What's this all about?" ng-model='data.description' required minlength='2' maxlength='500')

		.row.collapse
			.small-12.columns
				label Choose a Label
					select(ng-model='data.label')
						each label in topic.labels
							option(value='#{label._id}') #{label.title}
						option(value='-1') -- NONE --

		.row.collapse(ng-show="didReceiveError")
			.small-12.columns
				.alert-box.alert.radius {{errorMessage}}
					a.close &times;

		.row.collapse
			.small-12.columns
				a.button(ng-click="submit()"  ng-disabled="form.$invalid" ng-class="{disabledLink: form.$invalid}") Submit! 
else 
	.panel.callout
		h4 Oops!
		p You need to be logged in to do that
	a(data-reveal-id='login-modal') Login to Qwillo
a(class="close-reveal-modal") &#215;
