.topic-content {
	margin-top: 20px;
}
.topic-content .topic-info {
	min-height: 300px;
}

.topic-content .topic-info .topic-info-header {
	border-bottom: 3px solid #ffee55
}

.topic-content .topic-info .topic-image-wrapper {
	box-shadow: inset 0px 2px 2px 2px black;
}

.topic-content .topic-info .topic-title {
	position: absolute;
	bottom: -5px;
	left: 23px;
}

.topic-content .topic-info .topic-title *{
	color: #f1f1f1;
}

.topic-content .topic-image-wrapper
{
    display:block;
    position:relative;
}
 
.topic-content .topic-image-wrapper img
{
    display:block;
}
 
.topic-content .topic-image-wrapper::before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px -60px 50px -20px rgba(0,0,0,0.8);
    -webkit-box-shadow:inset 0px -60px 50px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0px -60px 50px -20px rgba(0,0,0,0.8);
}

.topic-content .topic-description {
	margin-left: 5px;
}

.topic-data .post-filters {
	list-style: none;
	margin-left: 0;
}

.topic-data .post-filters li{
	display: inline-block;
	margin-right: 15px;
}

.data-buttons button{
	width: 80px;
	height: 37px;
	padding: 0;
	background-color: #26484A;
	color: #f7f7f7;
}

.data-buttons button:hover {
	-moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.submit-post-button {
	margin-left: -18px;
}

#submit-post-modal .row{
	margin-bottom: 10px;
}

.topic-data .post-box {
	max-height: 105px;
}


.topic-data .post-box .info-box {
}

.topic-data .post-box .info-box h4{
	margin-bottom: 0;
}

.topic-data .post-box .info-box p{
	font-size: 14px;
	color: #616161;
	margin-bottom: 5px;
}

/*Post Styles*/

.topic-data .post-box {
	margin-left: 0px;
	margin-right: 0px;
}

.topic-data .label-button {
	height: 100%;
	padding: 6px;
	width: 80px;
	font-size: 14px;
}

.topic-data .label-select {
	padding-top: 5px;
}


#label-modal .label-description p{
	color: #545454;
	font-size: 12px;
}


/* Arrow button handler */

.arrow-box {
  width: 40px;
  font-size: 2em;
  text-align: center;
  line-height:1.5em;
  
}

.arrow-box .up {
  color:#00a47a;
  height: 50%;
}

.arrow-box .up:hover {
  color:#00fdbc;
  font-size:1em;
  text-shadow: 0px 2px 2px black;
  cursor: pointer;
}

.arrow-box .upActive{
  color:#00fdbc;
  font-size:1em;
  text-shadow: 0px 2px 2px black;
  
}


.arrow-box .down {
  color:#e75a48;
  height: 50%;
}

.arrow-box .down:hover {
  font-size:1em;
  text-shadow: 0px 2px 2px black;
  cursor: pointer;
}

.arrow-box .downActive {
  font-size:1em;
  text-shadow: 0px 2px 2px black;
}

.arrow-box .vote-count {
	font-size: 14px;
	line-height: 6px;
}