.description-box {
	margin-top: 30px;
	padding: 5px;
	box-shadow: .0px 1.5px 2px gray;
	background-color: rgba(255,255,255, .7);
}

.description-box>.row{
	margin-bottom: 10px;
}

@media only screen and (max-width: 991px) {
	.content-box {
		margin-top: 20px;
	}
	
}

/*.description-box .topic-image{
	float:left;
	display:inline;
}*/

.description-box .topic-image img {
	height: 100%;
	width: 100%;
}

/*.description-box .content-box {
	width:75%;
	height: 100%;
	float:right;
	padding-left:10px;
}*/

.description-box h1 {
	position: absolute;
	margin:0;
}

/*.description-box .action-box {
	position: absolute;
	bottom: 0;
}*/

.description-box .action-box button{
	width: 100%;
	box-shadow: .0px .5px 1px #212121;

}


.content-pane{
	margin-top: 20px;
}

.description-box .topic-info {
	height: 155px;
	max-height: 155px;
	overflow: hidden;
}

.post-box {
     background-color: rgba(255,255,255, .7);
    color: black;
    padding: 8px;
    margin: 10px 0 10px;
    box-shadow: .0px 1.5px 2px #212121;
}

.post-box a {
    color: black;
    opacity: .87;
}

.post-box h2 {
    margin: 0;
}

.post-box .post-action-box button{
	margin-right: 10px;
	opacity: .87;
	border-color: transparent !important;
}

.post-box .post-action-box .useful {
	background-color: #3F51B5 !important;
	color: white !important;
}

.post-box .post-action-box .useful:hover {
	background-color: #32408f !important;
}

.post-box .post-action-box .useless {
	background-color: #FF9800 !important;
	color: white !important;
}

.post-box .post-action-box .useless:hover{
	background-color: #cc7a00 !important;
}

