extends common/layout

block append head
	link(rel='stylesheet', href='/css/index.css')
	script(type='text/javascript' src='/js/index.js')
	script(type='text/javascript' src='/js/navModule.js')
	script(type='text/javascript' src='/js/urlService.js')

block content
	div(ng-app="IndexModule")
		.row.header
			.medium-3.column.page-header()
				.header-title
					h1 Qwillo
				account-handler
					if base.user
						.user-info
							h3 #{base.user.username}
							ul.nav-list(ng-show="header.userSelect")
								li 
					else
						ul.button-group.header-buttons.clearf-fix
							li.left
								a.button(href="#" data-reveal-id="signup-modal") Sign Up
							li.right
								a.button(href="#" data-reveal-id="login-modal") Login
				login-modal#login-modal.reveal-modal(data-reveal).tiny
				signup-modal#signup-modal.reveal-modal(data-reveal).tiny
		.row.main-content
			.medium-3.page-info
				ul.nav-list
					each cat in base.categories
						li.nav-list-item
							a.nav-list-link(href='/\##{cat}') #{cat}
			.medium-8.page-content

		