extends common/layout

block content
	link(rel="stylesheet" href="/css/homepage/index.css")
	.container.content
		.col-md-4
			.panel.panel-default
				.panel-heading Hightlighted
				.panel-body
					h2 #{featuredTopic.title}
		.col-md-8
			each topic in topics
				.topicBox
					.header
						h2 
							a(href='/topic/#{topic.title}') #{topic.title}


		p This is the end!