extends ../common/layout

block content
	link(rel='stylesheet', href='/css/topic/topic.css')
	.container
		.row
			.description-box
				img.topic-image(href='#{imageUrl}')
				h2.topic-title #{title}
				.topic-description
