.search-wrapper {
	min-height: 80vh;
}

.explanation-wrapper {
	min-height: 80vh;
	background: url(/images/library.jpg) no-repeat center center fixed;
	background-size: cover;
	margin-left: 0;
	margin-right: 0;
	max-width: none;

}

.exp-header {
	margin-bottom: 40px;
}

.exp-header .title {
	font-family: "Rockwell", serif !important;
}

.shadow-wrapper {
	position: absolute;
	background-color: black;
	opacity: .6;
	min-height: 80vh;
	width: 100%;
}

.explanation-wrapper h1 {
	color: #f7f7f7;
}

.explanation-wrapper h3,
.explanation-wrapper p {
		color: #f7f7f7;
		text-align: center;
}

.icon-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 70px;
}