/* MAIN CONTENT */


.category-box h3 {
	font-family: 'Roboto';
}

.category-box hr {
	margin-top: 0px;
}

.category-box .topic-title {
	font-family: 'District Pro';
}

.category-box .topic-description {
	font-weight: 200;
}


/*SIDEBAR*/
.page-info ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	column-gap: 0;
	-webkit-column-gap: 0;
	-moz-column-gap:0;
	text-align: center;
	margin: 0;
}

.page-info ul li {
	border-bottom: 1px solid #d2d6d5;
	border-right: 1px solid #d2d6d5;
	list-style: none;
	transition: all .25s ease;
	overflow: elipsis;

}

.page-info ul li:hover {
	background-color: #f7f7f7;
}

.page-info ul li a{
	color: #353535;
	font-family: 'Open Sans';
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	word-wrap: none;
}


