extends ../common/layout


block append head
	link(rel='stylesheet' href='/css/header.css')
	link(rel='stylesheet' href='/css/index.css')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
	script(src='/js/index.js')
	title The best source of the internet

block content
	.row.search-wrapper
		.columns.small-8.small-centered
			.row
				.columns.small-12.header
					h1 Qwillo
					p What do you want to learn about?
			.row
				include ../search/search