block append head
	link(rel='stylesheet' href='/css/search.css')
	script(src='/js/common/search.js')
	script(src='/js/3rdParty/typeahead.js')
	link(rel='stylesheet' href='/css/common/typeahead.css')



block search
	.search
		.columns.small-10(ng-controller='SearchController')
			input.search-box.typeahead.module-box(type='text' placeholder='Search for a topic')
		.columns.small-2
			button.search-button.module-box
				i.fa.fa-search