.small-header .account-handler{ 
	margin-top: 13px;
}


#user-dropdown li {
	display: block;
	width: 100%;
}

/*FORM CONTROLS*/

form input.ng-invalid.ng-dirty, 
form textarea.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

form input.ng-valid.ng-dirty,
form textarea.ng-valid.ng-dirty {
	border-color: #78FA89;
}

form input.ng-invalid.ng-dirty,
form textarea.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

form a.disabledLink {
	pointer-events: none;
	cursor: default;
}

.