.header-buttons {
	position: fixed;
	right: 0;
	left: inherit;
	top: 9px;
}

.header-buttons  li {
	background-color: transparent;
	border: 2px solid #FDfEF5;
	display: block;
	margin: 5px !important;
	transition: all .25s ease;
	min-width: 100px;
	border-radius: 2px;
}

.header-buttons  li a {
	color: #fefefe !important;
	display: block;
	padding: 3px;

	font-family: 'District Pro';
	text-align: center
}



/*FORM CONTROLS*/

form input.ng-invalid.ng-dirty, 
form textarea.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

form input.ng-valid.ng-dirty,
form textarea.ng-valid.ng-dirty {
	border-color: #78FA89;
}

form input.ng-invalid.ng-dirty,
form textarea.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

form a.disabledLink {
	pointer-events: none;
	cursor: default;
}

.