body {
  font: 14px "Open sans", Helvetica, Arial, sans-serif !important;
  background-color: #F4F4F2!important;
}

body>.content {
	min-height: 100vh;
}

a {
  color: #00B7FF;
}

.content {
	margin: auto;
}

.input-error {
	font-size: 12px;
	color: red;
	display: none;
}

.twitter-typeahead{
	/*display: block !important;*/
}