body {
  font: 14px "Open sans", Helvetica, Arial, sans-serif !important;
  background-color: #fefefe!important;
}

body>.content {
	min-height: 100vh;
}

a {
  color: #00B7FF;
}

.content>.columns{
	margin-top: 50px;
}

.sidebar {
	position:fixed !important;
}

.primary-content {
	margin-left: 25%;
}