.header {
	z-index: 99;
}

.header, .header .row, .content.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
	max-width: none;
}

.header .columns, .content .columns {
	padding: 0;
}

.page-header {
	padding: 0;
}

.page-header .header-title {
	background-color: #3C948B;

}

.page-header .header-title h1{
	color: white;
	text-align: center;
	font-size: 36px;
	margin: 0;
	font-family: "Rockwell", Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #d2d6d5;
}