sidebar.page-info {
	overflow: scroll;
	display: block;
	width: 100%;
	background-color: #ededed;
}


@media (min-width: 641px) {
	.page-header {
		/*position: fixed;*/
	}

	.page-info {
		height: 100vh;
	}

}