block append head
	link(rel='stylesheet' href='/css/header.css')

.row.nav-bar
	.small-4.columns.header
		a(href='/' style="")
			img(src='/images/hedgehog.png' style='height: 54px; display: inline;float: left; margin-top: 3px;')
			h3(style="float: left;margin-left: 10px;") Qwillo
	
	.small-6.columns
		.row 
			include ../search/search
	.small-2.columns
		include ../account/account-handler