//Nav bar template.
//Requires username

link(rel='stylesheet', href='/css/nav/nav.css')

nav.navbar.navbar-default.nav(role='navigation')
	.container
		//Brand and toggle get grouped for better mobile display 
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Qwillo
			link(rel='stylesheet' href='/css/searchbar/search_bar.css')
		
		script(type='text/javascript' src='/js/common/search/search_bar.js')
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li.nav-link
					a#categories(href='#') Categories
				li.nav-link
					a(href='/post/submit') Submit
				if !base.username 
					li.nav-link.login-link
						a(href='#') Login
				else
					li.nav-link.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown')
								| #{base.username}
						ul.dropdown-menu(role='menu')
							li
								a(href='/account/user/#{base.username}/settings') Account
							li.logout-button
								a(href='#') Logout
			form(class="navbar-form")
				div(class="form-group" style="display:inline;")
					div(class="input-group")
						input(type="text" class="form-control")
						span(class="input-group-addon search-button")
							span(class="glyphicon glyphicon-search")



.categories.container
	.categories-wrapper
		- var array = base.categories.sort();
		- for (var i = 0; i < 6; i++)
			div.categories-list-wrapper
				ul.category-list
					- var currentKeys = array.slice(i*3, i*3 + 3);
					each val in currentKeys
						li.category-item
							a(href='/category/#{val}') #{val}

.signup-box
	.blackout-background
	.center-block
		.content-block
			button.close(type='button')
				span(aria-hidden='true') ×
				span.sr-only Close
			h2 Welcome Back!
			hr
			form(role='form', onsumbit='return false').login-form
				p.error-message Your username or password does not match our records
				.form-group
					label(for='exampleInputEmail1') Username or Email
					input#exampleInputEmail1.form-control(type='username', name='username' placeholder='Enter username or email')
				.form-group
					label(for='exampleInputPassword1') Password
					input#exampleInputPassword1.form-control(type='password', name='password', placeholder='Password')
				button.btn.btn-success.btn-block.btn-lg.login-button Jump In!
			h3 Or 
			form(role='form' )
				a.btn.btn-primary.btn-block.btn-lg(href='/register') New Friend?


script $('.signup-box').hide();
script(type='text/javascript' src='/js/common/nav/login_module.js')
script(type='text/javascript' src='/js/common/nav/categories_module.js')