block append head
	link(rel='stylesheet' href='/css/common/header.css')

.row.header
	.medium-3.column.page-header
		.header-title
			a(href='/')
				h1 Qwillo
		
.row.content
	.medium-3.columns
		sidebar.page-info
	.medium-8.columns
		content.main-content
	.medium-1.columns
		account-handler.account-handler