extends ../common/layout

block content
	link(rel='stylesheet', href='/css/topic/topic.css')
	.container
		.row.description-box
			.topic-image.col-md-4
				if imageUrl
					img(src='#{imageUrl}')
				else
					img(src='/images/placeholder.jpg')
			.content-box.col-md-8
				.row
					.col-md-12
						h2.topic-title #{title}
						p.topic-description
							| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercit
					.action-box.col-md-12
						button(type="button", class="btn btn-primary")
							span(class="glyphicon glyphicon-plus")
							|  Submit
						button(type="button", class="btn btn-success")
							span(class="glyphicon glyphicon-user")
							|  Invite
						button(type="button", class="btn btn-info")
							span(class='glyphicon glyphicon-certificate')
							|  Share

		.row
			.col-lg-12.content-pane
				//Nav tabs 
				ul.nav.nav-tabs(role='tablist')
					li.active
						a(href='#hot', role='tab', data-toggle='tab') Hot
					li
						a(href='#top', role='tab', data-toggle='tab') Top
					li
						a(href='#new', role='tab', data-toggle='tab') New
				//
					 Tab panes 
				.tab-content
					#hot.tab-pane.fade.in.active Hot
					#top.tab-pane.fade Top
					#new.tab-pane.fade New


